<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thank you!</title>
    </head>
    <body>

        <h1>Thank you! You have been signed up to the event!</h1>
        
        <h3>All attendees:</h3>
        <table>
            <th>Id</th>
            <th>Attendee</th>
            <th>Message</th>
            <tr data-th-each="signup : ${signups}">
                <td data-th-text="${signup.id}">...</td>
                <td data-th-text="${signup.attendee}">...</td>
                <td data-th-text="${signup.message}">...</td>
            </tr>
        </table>
        
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>

    </body>
</html>
